<%= form_with(model:@task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4 new_form">

    <div class = "task-title">
      <%= f.label :title %>
      <%= f.text_field :title, class:'form-control col-md-6' %>
    </div>

    <div class="task-content">
      <%= f.label :content %>
      <%= f.text_area :content, class:'form-control col-md-6' %>
    </div>

    <div class="dead_line">
      <%= f.label :dead_line %>
      <%= f.datetime_select :dead_line, class:'form-control col-md-6' %>
    </div>

    <div class ="status">
      <%= f.label :status  %>
      <%= f.select :status, ["未着手", "着手中", "完了"], class:'form-control col-md-6' %>
    </div>

    <div class="priority">
      <%= f.label :priority %>
      <%= f.select :priority, ["高", "中","低"], class:'form-control col-md-6' %>
    </div>

    <div class="label">
      <% Label.all.each do |label| %>
        <%= f.check_box :label_ids, { multiple:true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
        <label class="label label-default"><%= label.name %></label>
      <% end %>
    </div>


    <%= f.submit class:'btn btn-primary' %>
  <% end %>
  </div>


