<h1>ユーザーの編集画面</h1>
<%= form_with(model: [:admin, @user], local:true) do |f| %>
  <div class="col-md-4 new_form">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password  %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-check">
      <%= f.label :admin, t('activerecord.attributes.user.admin'), class: 'form-check-label'  %>
      <%= f.check_box :admin, {}, "admin", "not_admin"  %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <%=f.submit t('view.Register_new_user'), class: 'btn btn-primary' %>
  </div>
<% end %>
